<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <div class="navbar-left d-flex align-items-center mx-3">
      <img src="favicon.ico" alt="HOT POT Logo" class="logo" height="49">
      <span class="brand-name ml-2">HOT POT.</span>
  </div>
  <div class="navbar-center mx-auto">
      <input type="text" class="form-control rounded-search custom-search" placeholder="Search" aria-label="Search" style="width: 300px; height: 40px;">
  </div>
  <div class="navbar-right d-flex mx-3">
    <a routerLink="/app-about" class="nav-link">About Us</a>
      <a routerLink="/app-contact" class="nav-link">Contact Us</a>
      <a routerLink="/app-reactiveform" class="nav-link">Register</a>
      <a routerLink="/app-login" class="nav-link">Login</a>
      <a routerLink="/app-restruantpage" class="nav-link">
          <i class="fas fa-user"></i> Profile
      </a>
      <a routerLink="/app-cartitems" class="nav-link">
          <i class="fas fa-shopping-cart"></i> Cart
      </a>
  </div>
</nav>
