<div class="container mt-5">
  <!-- Filters Section -->

  <!-- Restaurants List Section -->
  <div class="row restaurant-list">
    <div class="col-md-3" *ngFor="let restaurant of filteredRestaurants" (click)="navigateToRestaurantMenu(restaurant.restaurantID)">
      <div class="card list-item h-100">
        <img [src]="restaurant.imageURL || 'default-image-url.jpg'" 
             class="card-img-top" 
             alt="{{ restaurant.name }}" 
             style="height: 200px; object-fit: cover;">
             
        <div class="card-body item-content">
          <h5 class="card-title name">{{ restaurant.name }}</h5>
          <p class="card-text food-items">
            {{ restaurant.menuItemDescription }}
          </p>
          <div class="info-div d-flex justify-content-between">
            <div class="price">
              <b>₹{{ restaurant.price.toFixed(1) }}</b>
            </div>
          </div>
          <div class="offer-div">
            <i class="fa-solid fa-tag icon-offer-filled"></i>
            <span class="offer-text">50% off | Use WELCOME50</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
