<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <p class="text-blk heading">
        <b> HOTPOT - The Online food Delivery App</b>
        </p>
        <p class="text-blk subHeading">
         <b> Craving a steaming hotpot experience without leaving the comfort of your home? </b>Look no further! Our online hotpot delivery service brings the authentic flavors of hotpot right to your doorstep. With a wide variety of ingredients and customizable options, you can create your perfect hotpot meal every time.       </p>
        <p class="text-blk subHeading">Our mission is to provide you with the most convenient and delicious hotpot experience possible. We source only the freshest ingredients and ensure they are prepared with the utmost care. Our user-friendly app makes ordering your favorite hotpot meal a breeze, so you can enjoy the warmth and comfort of hotpot anytime, anywhere</p>
      
        </div>
      <div class="responsive-container-block rightSide">
        <img class="number1img" src="/assets/hotpot.jpg">
        <img class="number2img" src="/assets/northindian.jpg">
        <img class="number3img" src="/assets/milkshakes.jpg"/>
        <img class="number5img" src="/assets/southindian.jpg">
        <iframe allowfullscreen="allowfullscreen" class="number4vid" poster="/assets/video.mp4" src="/assets/video.mp4" muted>
                </iframe>
        <img class="number7img" src="/assets/restuarants.jpg">
        <img class="number6img" src="/assets/foods.jpg">
      </div>
    </div>
  </div>