<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 400px; border-radius: 8px;">
    <h5 class="card-title text-center mb-4">Login</h5>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <!-- Email Field -->
      <div class="form-group mb-3">
        <input 
          type="text" 
          class="form-control" 
          formControlName="username" 
          placeholder="Your username">
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
          Please enter a valid username.
        </div>
    </div>

      <!-- Password Field -->
      <div class="form-group mb-3">
        <input 
          type="password" 
          class="form-control" 
          formControlName="password" 
          placeholder="Password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          Password must be at least 6 characters.
        </div>
      </div>

      <!-- Terms and Conditions Checkbox -->
      <div class="form-check mb-3">
        <input 
          type="checkbox" 
          class="form-check-input" 
          formControlName="terms">
        <label class="form-check-label">
          By continuing, I agree to the terms of use & privacy policy.
        </label>
        <div *ngIf="loginForm.get('terms')?.invalid && loginForm.get('terms')?.touched" class="text-danger">
          You must agree to the terms.
        </div>
      </div>

      <!-- Login Button -->
      <button 
        type="submit" 
        class="btn btn-warning w-100" 
        [disabled]="loginForm.invalid">Login</button>
    </form>

    <div class="text-center mt-3">
      <small>Don't have an account? <a (click)="navigateToCreateAccount()" style="cursor: pointer; text-decoration: underline; color: blue;">Create a new account</a></small>
    </div>
  </div>
</div>
