<div class="form-main">
    <div class="main-wrapper">
      <h2 class="form-head">Contact Form</h2>
      <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="form-card">
          <label for="fullName">Full Name:</label>
          <input class="form-input" type="text" id="fullName" [(ngModel)]="contact.fullName" name="fullName" required #fullName="ngModel">
          <div *ngIf="fullName.invalid && fullName.touched" style="color: red;">Full Name is Mandatory</div>
        </div>
  
        <div class="form-card">
          <label for="email">Email:</label>
          <input class="form-input" type="email" id="email" [(ngModel)]="contact.email" name="email" required email #email="ngModel">
          <div *ngIf="email.invalid && email.touched" style="color: red;">Valid Email Id is needed</div>
        </div>
  
        <div class="form-card">
          <label for="phoneNumber">Phone Number:</label>
          <input class="form-input" type="text" id="phoneNumber" [(ngModel)]="contact.phoneNumber" name="phoneNumber" pattern="[0-9]{10}" required #phoneNumber="ngModel">
          <div *ngIf="phoneNumber.invalid && phoneNumber.touched" style="color: red;">Invalid Phone Number (10 digits required)</div>
        </div>
  
        <div class="form-card">
          <label for="address">Address:</label>
          <textarea class="form-textarea" id="address" [(ngModel)]="contact.address" name="address" required #address="ngModel"></textarea>
          <div *ngIf="address.invalid && address.touched" style="color: red;">Address is Mandatory</div>
        </div>
  
        <div class="btn-wrap">
          <button type="submit" [disabled]="!contactForm.form.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>