<div class="restaurant-container d-flex">
  <div class="sidebar bg-blue text-white p-3" style="width: 250px; max-height: 100vh; overflow-y: auto;">
    <h2 class="text-center"><i class="bi bi-shop"></i> {{name}}</h2>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a (click)="displaySection('reports')" class="nav-link text-white">
          <i class="bi bi-graph-up"></i> Reports
        </a>
      </li>
      <li class="nav-item">
        <a (click)="displaySection('menuManagement')" class="nav-link text-white">
          <i class="bi bi-card-list"></i> Menu Management
        </a>
      </li>

      <!-- New Menu Item Management Section -->
      <li class="nav-item">
        <a (click)="displaySection('menuItemManagement')" class="nav-link text-white">
          <i class="bi bi-list-check"></i> Menu Item Management
        </a>
      </li>

      <!-- Order Management Section -->
      <li class="nav-item">
        <a (click)="displaySection('orderHistory')" class="nav-link text-white">
          <i class="bi bi-receipt"></i> Order Management
        </a>
      </li>

      <!-- Profile Section -->
      <li class="nav-item">
        <a (click)="displaySection('editRestaurantInfo')" class="nav-link text-white">
          <i class="bi bi-person-circle"></i> Profile
        </a>
      </li>

      <li class="nav-item">
        <a (click)="displaySection('ratings')" class="nav-link text-white">
          <i class="bi bi-star"></i> Ratings
        </a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link text-white">
          <i class="bi bi-box-arrow-right"></i> Logout
        </a>
      </li>
    </ul>
  </div>

  <div class="content p-4">
    <!-- Reports Section -->
    <div *ngIf="currentSection === 'reports'">
      <h4>Reports</h4>
      <app-report></app-report>
    </div>

    <!-- Menu Management Section -->
    <div *ngIf="currentSection === 'menuManagement'">
      <h4>Menu Management</h4>
      <app-menu></app-menu>
    </div>

    <!-- Menu Item Management Section -->
    <div *ngIf="currentSection === 'menuItemManagement'">
      <h4>Menu Item Management</h4>
      <app-menuitems></app-menuitems>
    </div>

    <!-- Order Management Section -->
    <div *ngIf="currentSection === 'orderHistory'">
      <h4>Order History</h4>
      
      <app-listrorders></app-listrorders>
    </div>

    <!-- Profile Sections -->
    <div *ngIf="currentSection === 'editRestaurantInfo'">
      <h4>Edit Restaurant Info</h4>
      <app-restaruantprofile></app-restaruantprofile>
    </div>

    <!-- Ratings Section -->
    <div *ngIf="currentSection === 'ratings'">
      <h4>Ratings</h4>
      <app-rratings></app-rratings>
    </div>
  </div>
</div>
