<p>test works!</p>
<table border="2">
    <thead>
        <tr>
            <th>Name</th>
            <th>Varibale</th>
            <th>Value</th>
            <th>pipe applied</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>string</td>
            <td>'name'</td>
            <td>{{name}}</td>
            <td>{{name|uppercase}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>'date'</td>
            <td>{{today}}</td>
            <td>{{today|date}}</td>
        </tr>
        <tr>
            <td>Currency</td>
            <td>'currency'</td>
            <td>{{currencyinr}}</td>
            <td>{{currencyinr|currency:'INR'}}</td>
        </tr>
        <tr>
            <td>Currency</td>
            <td>'currency'</td>
            <td>{{currencyusd}}</td>
            <td>{{currencyusd|currency:'USD'}}</td>
        </tr>
        <tr>
            <td>json</td>
            <td>'Intern'</td>
            <td>{{Intern}}</td>
            <td>{{Intern|json}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>currentTime</td>
            <td>{{currentTime}}</td>
            <td>{{currentTime|async}}</td>
        </tr>
        <tr>
            <td>maskedemail</td>
            <td>email</td>
            <td>{{email}}</td>
            <td>{{email|maskedemail}}</td>
        </tr>
        <tr>
            <td>Percent</td>
            <td>per</td>
            <td>{{per}}</td>
            <td>{{per|percent}}</td>
        </tr>
        <tr>
            <td>Slice</td>
            <td>array</td>
            <td>{{array}}</td>
            <td>{{array|slice:1:9}}</td>
        </tr>
        <tr>
            <td>CustomPIPE</td>
            <td>Food</td>
            <td>{{Food}}</td>
            <td>{{Food|foodcategory}}</td>
        </tr>


    </tbody>
</table>
