<div class="admin-overview">
  
    <h1>Admin Overview</h1>
    <div class="card-container">
      <!-- <div class="card" (click)="navigateToUsers()">
        <img src="/images/usermanagement.png" alt="Users">
        <h3>Users Management</h3>
        <p>Manage your application users</p>
      </div> -->
      <div class="card" (click)="navigateToOrders()">
        <img src="images/ordermanagement.jpg" alt="Orders">
        <h3>Orders Management</h3>
        <p>View and manage orders</p>
      </div>
      <div class="card" (click)="navigateToMenu()">
        <img src="images/menumanagement.jpeg" alt="Menu">
        <h3>Menu Management</h3>
        <p>Update your menu items</p>
      </div>
    </div>
  </div>