<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Reactive Form</h2>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="border p-4 rounded shadow">
                <div class="mb-3">
                    <label for="username" class="form-label">UserName</label>
                    <input id="username" formControlName="username" class="form-control"/>
                    <div *ngIf="userForm.get('username')?.touched && userForm.get('username')?.invalid" class="alert alert-danger">
                        Name is Required
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input id="email" formControlName="email" type="email" class="form-control"/>
                    <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.hasError('required')" class="alert alert-danger">
                        Email is required.
                    </div>
                    <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.hasError('email')" class="alert alert-warning">
                        Please enter a valid email address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number:</label>
                    <input id="phone" formControlName="phone" type="tel" class="form-control"/>
                    <div *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.hasError('required')" class="alert alert-danger">
                        Phone number is required.
                    </div>
                    <div *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.hasError('pattern')" class="alert alert-warning">
                        Please enter a valid 10-digit phone number.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input id="password" formControlName="password" type="password" class="form-control"/>
                    <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.hasError('required')" class="alert alert-danger">
                        Password is required.
                    </div>
                    <div *ngIf="userForm.get('password')?.touched && userForm.get('password')?.hasError('pattern')" class="alert alert-warning">
                        Password must be at least 8 characters long and contain uppercase letters, lowercase letters, numbers, and special characters.
                    </div>
                </div>

                <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>
