<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">
      <div class="card-body">
        <h5 class="card-title text-center mb-4">Sign Up</h5>
  
        <!-- Reactive form starts here -->
        <form [formGroup]="signupForm" (ngSubmit)="Adduserdetails()">
          
          <div class="form-group mb-3">
            <input 
              type="text" 
              class="form-control" 
              formControlName="username" 
              placeholder="Your username">
            <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched" class="text-danger">
              Username is required and should be at least 3 characters long.
            </div>
          </div>
          
  
          <div class="form-group mb-3">
            <input 
              type="email" 
              class="form-control" 
              formControlName="email" 
              placeholder="Your email">
            <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-danger">
              Please enter a valid email.
            </div>
          </div>
  
          <div class="form-group mb-3">
            <input 
              type="password" 
              class="form-control" 
              formControlName="password" 
              placeholder="Password">
            <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger">
              Password is required and should be at least 6 characters long.
            </div>
          </div>
  
          <div class="form-check mb-3">
            <input 
              type="checkbox" 
              class="form-check-input" 
              formControlName="terms">
            <label class="form-check-label" for="terms">By continuing, I agree to the terms of use & privacy policy.</label>
            <div *ngIf="signupForm.get('terms')?.invalid && signupForm.get('terms')?.touched" class="text-danger">
              You must accept the terms.
            </div>
          </div>
  
          <button 
            type="submit" 
            class="btn btn-warning w-100" 
            [disabled]="signupForm.invalid">Create account</button>
        </form>
  
        <div class="text-center mt-3">
          <small>Already have an account? <a (click)="navigateTologinAccount()" style="cursor: pointer; text-decoration: underline; color: blue;">Login here</a></small>
        </div>
      </div>
    </div>
  </div>
  