<div class="container mt-4">
  <h5 class="aggregate-rating" [style.color]="'#ef7c9b'">Overall Rating: {{ aggregateRating }} / 5</h5>
  <div class="row">
    <div *ngFor="let rating of ratings; let i = index" class="col-md-4 mb-4">
      <div class="card h-100"
           [ngClass]="{
             'green': rating.rating >= 4,
             'yellow': rating.rating === 3,
             'red': rating.rating < 3
           }">
        <div class="card-body">
          <h5 class="card-title">User{{ rating.userID }}</h5> <!-- Assuming you want to display the user ID -->
          <p class="card-text">
            <strong>Rating: </strong>
            <ng-container *ngFor="let star of [1,2,3,4,5]; let i = index">
              <i class="bi" [ngClass]="i < rating.rating ? 'bi-star-fill text-warning' : 'bi-star'"></i>
            </ng-container>
          </p>
          <p class="card-text">
            Message: <em>{{ rating.message }}</em>
          </p>
          <p class="card-text">
            <strong>Comment: </strong>{{ rating.message }} <!-- Display the message -->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
